<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 page</title>
  </head>
  <style>
    .flexs {
      display: flex;
      flex-wrap: wrap;
    }
    .flexs li {
      margin-right: 20px;
      background-color: bisque;
      padding: 5px 8px 5px 8px;
      border-radius: 10px;
      list-style: none;
    }
    .flexs li:hover {
      box-shadow: 3px 3px black;
    }
    .flexs li a {
      color: black;
      text-decoration: none;
    }
    .flexs li a:hover {
      color: blueviolet;
    }
  </style>
  <body>
    <ul class="flexs">
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/about-us">about us</a></li>
      <li><a href="/sdfsdfsf">bullshit</a></li>
    </ul>
    <h2>oops!!</h2>
    <p>this is 404 page</p>
  </body>
</html>
