<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Home</title>
  </head>

  <body>
    <ul class="flexs">
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/about-us">about us</a></li>
      <li><a href="/sdfsdfsf">bullshit</a></li>
    </ul>
    <h1>Home</h1>
    <p>this is home page</p>
  </body>
</html>
